{{template "base".}} {{define "content"}}
<div class="contaner">
    <div class="row">
        <div class="col">
            <h1>This is a General Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                reprehenderit asperiores quae fugiat suscipit voluptates dolore
                nisi nulla. Consequatur magnam rerum iure natus in temporibus,
                beatae sit aliquid maiores accusamus quis alias, aperiam
                adipisci corrupti? Doloremque consectetur vitae modi. Illum
                doloremque ipsam necessitatibus molestias fugit nesciunt
                recusandae temporibus quas a.
            </p>
        </div>
    </div>
</div>

{{end}}
